html {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
* {
  box-sizing: inherit;
  align-content: start;
}
body{
  overflow-x: hidden;
  font-family: 'LatoWeb', sans-serif;
  font-style: normal;
  font-weight: 400;
  word-break: break-word;
}
svg {
  width: 100%;
  height: 100%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
pre {
  white-space: normal;
}
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
ol li,
ul li{
  margin-left: 1.25em;
  padding-left: 0.5em;
  margin-bottom: 1em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre {
  white-space: pre-wrap;
}

p:empty::before,
h1:empty::before,
h2:empty::before,
h3:empty::before,
h4:empty::before,
h5:empty::before,
h6:empty::before,
blockquote:empty::before,
pre:empty::before {
  content: "\00a0 ";
}

button{
  background-color: transparent;
  padding: 0;
}
